[".local/share/zinit/zinit.git"]
    type = "git-repo"
    url = "https://github.com/zdharma-continuum/zinit.git"

["source/repos/rofi"]
    type = "git-repo"
    url = "https://github.com/adi1090x/rofi.git"

[".dotfiles/"]
    type = "git-repo"
    url = "git@github.com:dcheld/zfiles.git"

{{ if (lookPath "vim") -}}
[".vim/"]
    type = "git-repo"
    url = "git@github.com:dcheld/vimfiles.git"
{{- end }}

{{ if (lookPath "qtile") -}}
[".config/qtile/"]
    type = "git-repo"
    url = "git@github.com:dcheld/qtile.git"
{{- end }}
