{{- if (lookPath "alacritty") }}
[general]
import = [
    "~/.config/alacritty/theme.toml"
]

{{ if and (eq .tmux.enable true) (lookPath "tmux") -}}
[terminal.shell]
program = "/usr/bin/env"
args = ["tmux", "new-session", "-A", "-s", "main"]

[window]
opacity = 1

{{ end -}}
[env]
TERM = "xterm-256color"

[font]
size = {{ .fontSize }}

[font.bold]
family = "{{ .fontFamily }}"
style = "Bold"

[font.bold_italic]
family = "{{ .fontFamily }}"
style = "Bold Italic"

[font.italic]
family = "{{ .fontFamily }}"
style = "Italic"

[font.normal]
family = "{{ .fontFamily }}"
style = "Regular"

{{ end -}}
