[misc]
sudo_command = "sudo"
disable = ["asdf", "containers"]
no_retry = true
no_self_update = true

[post_commands]

{{- if (lookPath "flatpak") }}
"Flatpak Remove Unused" = "flatpak remove --unused"
{{- end }}

{{- if (lookPath "apt") }}
"Apt autoclean/autoremove" = "sudo apt autoclean -y && sudo apt autoremove -y"
{{- end }}

{{- if (lookPath "snap") }}
"Snap Clean" = "snap-clean"
{{- end }}

{{- if (lookPath "paccache") }}
"Pacman remove old Versions"="paccache -vrk 2"
{{- end }}

{{- if (lookPath "pacman") }}
"Remove pacotes órfãos" = "~/.local/bin/pacman-clean-orphans"
{{- end }}

[brew]
autoremove = true

{{if eq .chezmoi.osRelease.id "arch" -}}
[linux]
arch_package_manager = "autodetect"
{{- end }}

[vim]
force_plug_update = true

[firmware]
upgrade = true